<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
    
        <title>{% block title_block %}AdventureQuest{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/adventureQuest.css' %}">
        
            
            {% block page_style_block %}
            <!--  This is where inpage css styles can be added -->
            {% endblock %}
            

    </head>
    

 <body>
 
     
     <!-- NAV BAR HTML. PERSISTENT SO EVERYONE INHERITS THIS-->
    <div class="w3-top">
        <div class="w3-bar">
        <div class="menu">
            <!-- Second Menu -->
            <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-navicon" style="font-size:34px"></i></a>
                <div class="dropdown-content">
                <a href="{% url 'index' %}">Home</a>
                <a href="../#about">About</a> <!-- Slightly hacky way of always going to about-->
                <a href="../#questgallery">All Quests</a>
                <a href="{% url 'hall_of_fame' %}">Hall of Fame</a>
                    {% if user.is_authenticated %}
                <a href="{% url 'my_account' %}">My Account</a>
                    {% endif %}
                </div>    
            <!-- Second Menu -->
            <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-map-marker" style="font-size:30px"></i></a>
                <div class="dropdown-content">
                    <a href="{% url 'mystery_about' %}">Mystery Quest</a>
                    <a href="{% url 'finnieston_about' %}">Finnieston Quest</a>
                    <a href="{% url 'glasgow_uni_about' %}">Glasgow Uni Quest</a>
                    <a href="{% url 'southside_about' %}">Southside Quest</a>
                    <a href="{% url 'city_centre_about' %}">City Centre Quest</a>
                    <a href="{% url 'kids_about' %}">Kids Quest</a>
                </div>
            </li>
            <!-- Links on right -->
            <li style="float:right">
                {% if user.is_authenticated %}
                <a href="{% url 'my_account' %}">
                <img src="http://www.diaglobal.org/_Images/member/Generic_Image_Missing-Profile.jpg" class="w3-left w3-circle w3-margin-right" style="width:25px"><!--{{ MEDIA_URL}}{{ pic }}wont work as pic needs passed -->
                Hello, {{ user.username }}!
                {% else %}
                <a href="{% url 'login' %}"><i class="fa fa-user-circle" style="font-size:24px"></i>
                Login
                {% endif %}
                </a> 
            <a href=https://www.facebook.com/adventurequestglasgow/><i class="fa fa-facebook-official w3-hover-text-indigo"style="font-size:24px"></i>
            <a href=https://www.instagram.com/adventurequestglasgow/><i class="fa fa-instagram w3-hover-text-purple" style="font-size:24px"></i>
            <a href=https://www.snapchat.com/add/aqgla/><i class="fa fa-snapchat w3-hover-text-yellow" style="font-size:24px"></i>
            <a href=https://twitter.com/AQ_GLA><i class="fa fa-twitter w3-hover-text-light-blue" style="font-size:24px"></i></a>
            </li>
        </div>
        </div> 
    </div> 


{% block body_block %}     
<!--THIS IS WHERE PAGE SPECIFIC BODY CONTENT LIVES-->
{% endblock %}
     

 <!-- Footer PERSISTENT SO EVERYONE INHERITS THIS-->
<footer class="w3-content w3-center w3-padding-64 ">
  <a href="#" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-large w3-container w3-section w3-center" style="list-style-type: none">
    <li>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% if user.is_authenticated %}
    <a href="{% url 'my_account' %}">My Account</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    <a href="../#questgallery">Quests</a>
    </li>
  </div>
    <!-- Social media buttons-->
    <div class="w3-container w3-xlarge w3-section w3-center" style="list-style-type: none">
        <br>
        <li>
        <a href=https://www.facebook.com/adventurequestglasgow/><i class="fa fa-facebook-official w3-hover-text-indigo"></i>
        <a href=https://www.instagram.com/adventurequestglasgow/><i class="fa fa-instagram w3-hover-text-purple"></i>
        <a href=https://www.snapchat.com/add/aqgla/><i class="fa fa-snapchat w3-hover-text-yellow"></i>
        <a href=https://twitter.com/AQ_GLA><i class="fa fa-twitter w3-hover-text-light-blue"></i>
        </li>
    </div>
</footer>

     
</body>

{% block js_block %}     
<!-- Page Specific JAVASCRIPTS -->
{% endblock %}  




</html>
