<!DOCTYPE html>
{% load staticfiles %}
<html>
<!--
    This is the main template for all pages. It contains links to three stylesheets. 
    Two stylesheets are frameworks - W3.css and Font-Awesome. The third stylesheet is for custom styles named adventureQuest.css
    
    Template class references can be viewed here: https://www.w3schools.com/w3css/w3css_references.asp

-->
    <head>
        <title>{% block title_block %}AdventureQuest{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/adventureQuest.css' %}">
            {% block page_style_block %}
            <!--  This is where inpage css styles can be added -->
            {% endblock %}
    </head>
 <body>
     <!-- Persistent top navigation bar-->
    <div class="w3-top">
        <div class="w3-bar">
        <div class="menu">
            <!-- First Dropdown Menu -->
            <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-navicon" style="font-size:34px"></i></a>
                <div class="dropdown-content">
                <a href="{% url 'index' %}">Home</a>
                <a href="../#about">About</a> <!-- Slightly hacky way of always going to about-->
                <a href="../#questgallery">All Quests</a>
                <a href="{% url 'hall_of_fame' %}">Hall of Fame</a>
                    {% if user.is_authenticated %}
                <a href="{% url 'my_account' %}">My Account</a>
                    {% endif %}
                </div>    
            <!-- Second Dropdown Menu -->
            <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-map-marker" style="font-size:30px"></i></a>
                <div class="dropdown-content">
                    <a href="{% url 'mystery_about' %}">Mystery Quest</a>
                    <a href="{% url 'finnieston_about' %}">Finnieston Quest</a>
                    <a href="{% url 'glasgow_uni_about' %}">Glasgow Uni Quest</a>
                    <a href="{% url 'southside_about' %}">Southside Quest</a>
                    <a href="{% url 'city_centre_about' %}">City Centre Quest</a>
                    <a href="{% url 'kids_about' %}">Kids Quest</a>
                </div>
            </li>
            <!-- Links on right hand side of top nav -->
            <li style="float:right">
                {% if user.is_authenticated %}
                <a href="{% url 'my_account' %}"><i class="fa fa-user-circle" style="font-size:24px"></i>
                Hello, {{ user.username }}!
                </a>
                {% else %}
                <a href="{% url 'login' %}"><i class="fa fa-user-circle" style="font-size:24px"></i>
                Login
                </a>
                {% endif %}
            <a href="https://www.facebook.com/adventurequestglasgow"><i class="fa fa-facebook-official w3-hover-text-indigo" style="font-size:24px"></i></a>
            <a href="https://www.instagram.com/adventurequestglasgow"><i class="fa fa-instagram w3-hover-text-purple" style="font-size:24px"></i></a>
            <a href="https://www.snapchat.com/add/aqgla"><i class="fa fa-snapchat w3-hover-text-yellow" style="font-size:24px"></i></a>
            <a href="https://twitter.com/AQ_GLA"><i class="fa fa-twitter w3-hover-text-light-blue" style="font-size:24px"></i></a>
            </li>
        </div>
        </div> 
    </div> 
{% block body_block %}     
<!--THIS IS WHERE PAGE SPECIFIC BODY CONTENT CAN BE ADDED-->
{% endblock %}
 <!-- Footer : A small area at the bottom of the page that allows some quick site navigation-->
<footer class="w3-content w3-center w3-padding-64 ">
  <a href="#" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-large w3-container w3-section w3-center" style="list-style-type: none">
    <li>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% if user.is_authenticated %}
    <a href="{% url 'my_account' %}">My Account</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    <a href="../#questgallery">Quests</a>
    </li>
  </div>
    <!-- Social media buttons at the very bottom-->
    <div class="w3-container w3-xlarge w3-section w3-center" style="list-style-type: none">
        <br>
        <li>
        <a href="https://www.facebook.com/adventurequestglasgow"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
        <a href="https://www.instagram.com/adventurequestglasgow"><i class="fa fa-instagram w3-hover-text-purple"></i></a>
        <a href="https://www.snapchat.com/add/aqgla"><i class="fa fa-snapchat w3-hover-text-yellow"></i></a>
        <a href="https://twitter.com/AQ_GLA"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a>
        </li>
    </div>
</footer>
</body>
{% block js_block %}     
<!-- Page Specific JAVASCRIPTS -->
{% endblock %}  
</html>
