<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
    
        <title>{% block title_block %}AdventureQuest{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/adventureQuest.css' %}">
            
            <style>
            {% block page_style_block %}
            /*  This is where inpage css styles can be added */
            {% endblock %}
            </style>

    </head>
    

 <body>
 
     
     <!-- NAV BAR HTML. PERSISTENT SO EVERYONE INHERITS THIS-->
    <div class="w3-top">
        <div class="w3-bar">
        <div class="menu">
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-navicon" style="font-size:34px"></i></a>
            <div class="dropdown-content">
            <a href="{% url 'index' %}">Home</a>
            <a href="../#about">About</a> <!-- Slightly hacky way of always going to about-->
            <a href="../#questgallery">Quests</a>
            <a href="{% url 'post_list' %}">Hall of Fame</a>
                {% if user.is_authenticated %}
            <a href="{% url 'my_account' %}">My Account</a>
                {% endif %}
            </div>    
            
            <li style="float:right">
                {% if user.is_authenticated %}
                <a href="{% url 'my_account' %}"><i class="fa fa-user-circle" style="font-size:24px"></i>
                Hello, {{ user.username }}!
                {% else %}
                <a href="{% url 'login' %}"><i class="fa fa-user-circle" style="font-size:24px"></i>
                Login
                {% endif %}
                </a> 
            <a href=https://www.facebook.com/adventurequestglasgow/><i class="fa fa-facebook-official w3-hover-text-indigo"style="font-size:24px"></i>
            <a href=https://www.instagram.com/adventurequestglasgow/><i class="fa fa-instagram w3-hover-text-purple" style="font-size:24px"></i>
            <a href=https://www.instagram.com/adventurequestglasgow/><i class="fa fa-snapchat w3-hover-text-yellow" style="font-size:24px"></i>
            <a href=https://twitter.com/AQ_GLA><i class="fa fa-twitter w3-hover-text-light-blue" style="font-size:24px"></i></a>
            </li>
        </div>
        </div> 
    </div> 


{% block body_block %}     
<!--THIS IS WHERE PAGE SPECIFIC BODY CONTENT LIVES-->
     
{% endblock %}
     

 <!-- Footer PERSISTENT SO EVERYONE INHERITS THIS-->
<footer class="w3-content w3-center w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section w3-center">
   
    <li class="horizontal"><a href="{% url 'register' %}">Register</a></li>
    <li class="horizontal"><a href="{% url 'login' %}">Login</a></li>
    <li class="horizontal"><a href="{% url 'mystery_about' %}">Mystery Quest</a></li>
    <li class="horizontal"><a href="{% url 'finnieston_about' %}">Finnieston Quest</a></li>
    <li class="horizontal"><a href="{% url 'glasgow_uni_about' %}">Glasgow Uni Quest</a></li>
    <li class="horizontal"><a href="{% url 'southside_about' %}">Southside Quest</a></li>
    <li class="horizontal"><a href="{% url 'city_centre_about' %}">City Centre Quest</a></li>
    <li class="horizontal"><a href="{% url 'kids_about' %}">Kids Quest</a></li>

    {% if user.is_authenticated %}
    <li class="horizontal"><a href="{% url 'my_account' %}">My Account</a></li>
    <li class="horizontal"><a href="{% url 'logout' %}">Logout</a></li>
          <!--  <li class="horizontal"><a href="{% url 'logout' %}">Logout</a></li> -->

    {% endif %}

  </div>
  
    <div class="w3-container w3-xlarge w3-section w3-center" style="list-style-type: none">
        <br>
        <li>
        <a href=https://www.facebook.com/adventurequestglasgow/><i class="fa fa-facebook-official w3-hover-text-indigo"></i>
        <a href=https://www.instagram.com/adventurequestglasgow/><i class="fa fa-instagram w3-hover-text-purple"></i>
        <a href=https://www.instagram.com/adventurequestglasgow/><i class="fa fa-snapchat w3-hover-text-yellow"></i>
        <a href=https://twitter.com/AQ_GLA><i class="fa fa-twitter w3-hover-text-light-blue"></i>
        </li>
    </div>
</footer>

     
</body>      
<!-- JAVASCRIPTS -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Add Google Maps -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(55.8721, -4.2882);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0z8juUZWLKkvKq4p8G9ne4Sr8RzB4hMY&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp Toms API is used
-->

<!-- MAPS FOR QUESTS consider wrapping in tags??-->
<script>
function mapQuest()
{
  myCenter=new google.maps.LatLng({{questmappos}});
  var mapOptions= {
    center:myCenter,
    zoom:19, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("Map"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0z8juUZWLKkvKq4p8G9ne4Sr8RzB4hMY&callback=mapQuest"></script>

</html>
