{% extends "adventureQuest/base.html" %}
{% load staticfiles %}
{% block Title %}City Centre Quest About{% endblock %}
{% block body_block %}  
<div class="w3-content w3-container w3-padding-64 w3-card w3-white" id="aboutquest">
    
   <p class="w3-center w3-xlarge ">  {{ descr }}</p>


    <div class="w3-center w3-ul">


        <ul class="w3-ul">
        <li>Starting point:{{ start }}</li>
        <li>Difficulty:{{ difficulty }}</li>
        <li>Minimum age: {{ age_limit }}</li>
        <li>Time to complete:{{ value}}</li>
        <li>Reviews:  link here?{{ value}}</li>
        </ul>
        
         <a class="w3-btn w3-round-large" href="{% url 'city_centre_quest' %}">Link to begin quest or redirect if not logged in</a>
        </div>

       
    </div>
<div class="w3-content w3-container w3-padding-64">
        <!-- Add Google Maps -->
        <div id="Map" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>


{% endblock %}

{% block questmap_block %} 
<script>
function mapCityCenter()
{
  myCenter=new google.maps.LatLng(55.863422, -4.252970);
  var mapOptions= {
    center:myCenter,
    zoom:19, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("Map"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0z8juUZWLKkvKq4p8G9ne4Sr8RzB4hMY&callback=mapCityCenter"></script>
{% endblock %}