{% extends "adventureQuest/base.html" %}
{% load staticfiles %}
{% block Title %}Finnieston Quest About{% endblock %}
{% block body_block %}  
<div class="w3-content w3-container w3-padding-64" id="aboutquest">
    
   
    
    <div class="quest_scroll">
    <img src="{% static "images/scroll.jpg" %}" style="width:100%"></a>
    <div class="quest_text">
    <p>Starting point</p>
    </div>
    </div>


    

       

         <a class="w3-btn w3-round-large" href="{% url 'finnieston_quest' %}">Link to begin quest or redirect if not logged in</a>
        </div>
        <li>Reviews: link to fb comments?</li>
       
    
    </div>


{% endblock %}