{% extends "adventureQuest/base.html" %}
{% load staticfiles %}
{% block Title %}Finnieston Quest About{% endblock %}
{% block body_block %}  
<div class="w3-content w3-container w3-padding-64" id="aboutquest">
    
   
    
    <div class="quest_scroll">
    <img src="{% static "images/scroll.jpg" %}" style="width:100%"></a>
    <div class="quest_text">
    <p>Starting point</p>
    </div>
    </div>


    

       

         <a class="w3-btn w3-round-large" href="{% url 'finnieston_quest' %}">Link to begin quest or redirect if not logged in</a>
        </div>
        <li>Reviews: link to fb comments?</li>
       
    
    </div>

<div class="w3-content w3-container w3-padding-64">
        <!-- Add Google Maps -->
        <div id="Map" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>


{% endblock %}

{% block questmap_block %} 
<script>
function mapFinnieston()
{
  myCenter=new google.maps.LatLng(55.868273, -4.292110);
  var mapOptions= {
    center:myCenter,
    zoom:19, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("Map"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0z8juUZWLKkvKq4p8G9ne4Sr8RzB4hMY&callback=mapFinnieston"></script>
{% endblock %}