{% extends 'adventureQuest/base.html' %}

{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
              Hello, {{ user.username }}
    {% else %}
        redirect
    {% endif %}
<div>
    <h1>Here are your current quest high scores!</h1>
    Finnieston Quest: {{score1}} <br/>
    Glasgow University Quest: {{score2}} <br/>
    Southside Quest: {{score3}} <br/>
    City Centre Quest: {{score4}} <br/>
    Kids Quest: {{score5}} <br/>



</div>
<br/>
<div>
    See your uploaded posts?
</div>




{% endblock %}