{% extends 'adventureQuest/base.html' %}

{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
              Hello, {{ user.username }}
    {% else %}
        redirect
    {% endif %}
<div>
    <h1>Here are your current quest high scores!</h1>
    Finnieston Quest: {{userProfile.quest1Score}} <br/>
    Glasgow University Quest: {{user.quest2Score}} <br/>
    Southside Quest: {{user.quest3Score}} <br/>
    City Centre Quest: {{user.quest4Score}} <br/>
    Kids Quest: {{user.quest5Score}} <br/>
</div>
<br/>
<div>
    See your uploaded posts?
</div>




{% endblock %}