{% extends 'adventureQuest/base.html' %}

{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
              Hello, {{ user.username }}
    {% else %}
        redirect
    {% endif %}
<div>
    <h1>Here are your current quest high scores!</h1>
    Mystery Quest: {{mystery_quest}} <br/>
    Finnieston Quest: {{finnieston_quest}} <br/>
    Glasgow University Quest: {{glasgow_uni_quest}} <br/>
    Southside Quest: {{southside_quest}} <br/>
    City Centre Quest: {{city_centre_quest}} <br/>
    Kids Quest: {{kids_quest}} <br/>

    picture link: {{ pic }}
    {{ MEDIA_URL }}
    {{user.picture}}

</div>

    <div>
        <img src="{{ MEDIA_URL}}{{ pic }}" alt="Picture of user">
    </div>
<br/>
<div>
    See your uploaded posts?
</div>




{% endblock %}