{% extends 'adventureQuest/base.html' %}

{% block title_block  %}
Photo Gallery
{% endblock  %}

{% block body_block %}

<div class = 'w3-content w3-center'>
    <div>
        <h1>Myster Quest Hall of Fame</h1>
    </div>
 </div>
    {% for obj in object_list %}
        {% if obj.image %}
        <div class = 'w3-content w3-center'>
            <div style="display:inline; text-align:left;"><img src='{{ obj.image.url }}' class='img-responsive'/></div>
            <div style="float: right"><ul>
               <ul>Title: {{obj.title}}</ul>
                   <ul>Uploaded by: {{obj.user}}</ul>
                   <ul>Comment: {{obj.content}}</ul>
                   <ul>Quest: {{obj.quest}}</ul>
                   <ul>Date: {{obj.timestamp}}</ul>
                {% if obj.hints != 10000 %}
                    <ul>Hints used:{{obj.hints}}</ul>
                {% else %}
                    <ul>{{obj.user}} is still to conquer this quest!</ul>
                {% endif %}
            </ul></div>
            <br><br><br><br>
        </div>
        {% endif %}
{% endfor %}


{% endblock %}}