{% extends 'adventureQuest/base.html' %}
{% block body_block %}

<div class='col-sm-6 col-sm-offset-3'>
    <h1>Photo Gallery</h1>

{% for obj in object_list	%}
<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            {% if obj.image %}
            <img src ='{{ obj.image.url }}' class='img-responsive' />
            {% endif %}
           <div class="caption">
               <!-- ajax view populate with post attributes instead of those three lines -->

           </div>
        </div>
    </div>
<hr/>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if  object_list.has_previous %}
            <a href=""?{{ page_request_var }}="{{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href=""?{{ page_request_var }}="{{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>

{%	endblock   %}