{% extends 'adventureQuest/base.html' %}
{% load staticfiles %}
<!-- SS and KJ Adding JQuery functionality -->
<script src="{% static 'js/jquery.min.js' %}"> </script>
<script src="{% static 'js/adventureQuest-jquery.js' %}"> </script>


{% block title_block %}
    Quest 1 - Riddle 1
{% endblock %}

{% block body_block %}
        <h1>Answer Riddle</h1>
        <div>
            <form id="RiddleForm" action="?">
                <fieldset class = "form-riddle">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" name="riddle-1" value="fire" />
                </fieldset>
                <fieldset data-depends-on="riddle-1=fire">
                    <div class ="form-riddle">
                        <input type="text" name="riddle-2" id="extra">
                    </div>
                </fieldset>
            </form>
        </div>
{% endblock %}