{% load staticfiles %}

<div class="w3-content w3-container w3-padding-64" id="aboutquest">
    
   
    
    <div class="quest_scroll w3-display-container">
    <img src="{% static "images/scroll.jpg" %}" style="width:100%"></a>
   
    <div class="w3-display-middle" style="font-size: 18px;">
        <div class="w3-container">
            <p>{{descr}}</p>
            <p>{{comment}}</p>
        </div>    
        <p>Starting point:{{ start }}</p>
        <p>Difficulty:{{ difficulty }}</p>
        <p>Minimum age: {{ age_limit }}</p>
        <p>Time to complete:{{ value}}</p>
        <p>Reviews:  link here?{{ value}}</p>
    </div>
    </div>
 
         <div class="quest_button">
         <a class="w3-btn w3-round-large" href="{{questurl}}">Link to begin quest or redirect if not logged in</a>
        </div>
        <li>Reviews: link to fb comments?</li>
    </div>

<div class="w3-content w3-container w3-padding-64">
        <!-- Add Google Maps -->
        <div id="Map" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>




